<div ng-controller="mainController as main" ng-init="index()" class="container">

<!-- Navbar Tabs -->
<nav-tabs></nav-tabs>

<div class="panel" ng-show="isSelected(1)">

<!-- Filter Results by Search -->
<search-form></search-form>

  <h3 class="section-titles">Recruiters</h3>
  <ul ng-hide="profileShow()">
    <li ng-repeat="recruiter in recruiters | filter: filterFunction" class="col-md-4 text-center" ng-click="showUser(recruiter)">
      <h4>{{recruiter.username}}</h4>
      <h5>{{recruiter.company}}</h5>
      <h5>{{recruiter.position}}</h5>
      <h5>{{recruiter.experience}} years</h5>
      <h5>{{recruiter.email}}</h5>
    </li>
  </ul>

  <!-- Opens user profile on li click -->
  <user-profile></user-profile>

</div>
<div class="panel" ng-show="isSelected(2)">

<!-- Filter Results by Search -->
<search-form></search-form>

  <h3 class="section-titles">Hiring Managers</h3>
  <ul ng-hide="profileShow()">
    <li ng-repeat="manager in managers | filter: filterFunction" class="col-md-4 text-center" ng-click="showUser(manager)">
      <h4>{{manager.username}}</h4>
      <h5>{{manager.company}}</h5>
      <h5>{{manager.position}}</h5>
      <h5>{{manager.experience}} years</h5>
      <h5>{{manager.email}}</h5>
    </li>
  </ul>

  <!-- Opens user profile on li click -->
  <user-profile></user-profile>

</div>
<div class="panel" ng-show="isSelected(3)">

<!-- Filter Results by Search -->
<search-form></search-form>

  <h3 class="section-titles">Job Seekers</h3>
  <ul ng-hide="profileShow()">
  <li ng-repeat="seeker in seekers | filter: filterFunction" class="col-md-4 text-center" ng-click="showUser(seeker)">
    <h4>{{seeker.username}}</h4>
    <h5>{{seeker.company}}</h5>
    <h5>{{seeker.position}}</h5>
    <h5>{{seeker.experience}} years</h5>
    <h5>{{seeker.email}}</h5>
  </li>
</ul>

<!-- Opens user profile on li click -->
<user-profile></user-profile>

</div>
<div class="panel" ng-show="isSelected(4)">

<!-- Current User Profile -->
<profile-page></profile-page>

</div>
