(function() {

  var app = angular.module('site-partials', []);

  app.directive('searchForm', function() {
    return {
      restrict: 'E',
      templateUrl: '<%= asset_path("search-form.html.erb") %>'
    };
  });

  app.directive('navTabs', function() {
    return {
      restrict: 'E',
      templateUrl: '<%= asset_path("nav-tabs.html.erb") %>'
    };
  });

  app.directive('profilePage', function() {
    return {
      restrict: 'E',
      templateUrl: '<%= asset_path("profile-page.html.erb") %>'
    };
  });

  app.directive('userProfile', function() {
    return {
      restrict: 'E',
      templateUrl: '<%= asset_path("user-profile.html.erb") %>'
    };
  });

})();
