@import "bootstrap-sprockets";
@import "bootstrap";
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.nav-pills {
  font-size: 15px;
  font-weight: bold;
}

.section-titles {
  margin-bottom: 25px;
  font-weight: bold;
}

.btn-medium {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  &:visited {
    color: #fff !important;
  }
}

h4.username {
  font-weight: bold;
}

.col-md-4 {
  background: grey;
  margin: 5px;
  cursor: pointer;
}

.glyphicon-remove {
  float: right;
  font-size: 30px;
  cursor: pointer;
  margin-right: 30px;
}
