<ul class="nav nav-pills">
  <li ng-class="{ active:isSelected(1) }">
    <a href ng-click="selectTab(1)">Recruiters</a>
  </li>
  <li ng-class="{ active:isSelected(2) }">
    <a href ng-click="selectTab(2)">Hiring Managers</a>
  </li>
  <li ng-class="{ active:isSelected(3) }">
    <a href ng-click="selectTab(3)">Job Seekers</a>
  </li>
  <li ng-class="{ active:isSelected(4) }">
    <a href ng-click="selectTab(4)">My Profile</a>
  </li>
</ul>
