<h3 class="section-titles">My Profile</h3>
<h4 class="username">{{currentUser.username}}</h4>
<h5>{{currentUser.company}}</h5>
<h5>{{currentUser.position}}</h5>
<h5>{{currentUser.experience}} years</h5>
<h5>{{currentUser.email}}</h5>

<h4>Summary</h4>
<blockquote>
  {{currentUser.summary}}
</blockquote>
