<a href="#" ng-click="toggleForm()" class="btn btn-primary btn-medium">Filter Results</a>

<div class="form" ng-show="showForm()">
  <form ng-submit="search(query, 'company')" name="search_form">
    <label for="company">Company</label>
    <input type="text" name="company" ng-model="query.company" class="form-control" />
    <input type="submit" value="Search By Company" class="btn btn-medium" />
  </form>

  <form ng-submit="search(query, 'experience')" name="search_form">
    <label for="company">Experience</label>
    <input type="text" name="experience" ng-model="query.experience" class="form-control" />
    <input type="submit" value="Search By Experience" class="btn btn-medium" />
  </form>

  <form ng-submit="search(query, 'position')" name="search_form">
    <label for="position">Role</label>
    <input type="text" name="position" ng-model="query.position" class="form-control" />
    <input type="submit" value="Search By Role" class="btn btn-medium" />
  </form>
</div>
