<div class="this_user" ng-show="profileShow()">
  <span class="glyphicon glyphicon-remove" ng-click="closeProfile()"></span>
  <h4 class="username">{{profileUser.username}}</h4>
  <h5>{{profileUser.company}}</h5>
  <h5>{{profileUser.position}}</h5>
  <h5>{{profileUser.experience}} years</h5>
  <h5>{{profileUser.email}}</h5>

  <h4>Summary</h4>
  <blockquote>
    {{profileUser.summary}}
  </blockquote>
</div>
